.root {
	-fx-font-size: 20px;
}
.button {
    -fx-pref-width: 350px;
    -fx-perf-height: 30px;
    -fx-color: #5276b2;
}
.label {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	
}
.red {
	-fx-color: #d62717;
}

.table-view, .table-column { 
  -fx-font-size: 15px;
}

.scroll-pane{
    -fx-perf-width:1250px;
  -fx-perf-height:1000px;
}
